:root{
    --sidepanel: #451a03;
    --main: #78350f;
    --header: #fffbeb;
    --card: #fef3c7;
    --text: #020617;

}


body {
    background-color: green;
    font-size: large;
    color: red;
    margin: 0;

}

.site{
    display: grid;
    grid-template-rows: 110px 100vh;

}

.header{
    background-color: var(--header);
}

.body {
    
    display:grid;
    grid-template-columns: 1fr minmax(800px, 3fr) 1fr;
}
.sidepanel{
    background-color: var(--sidepanel);
}

.main{
    
    background-color: var(--main);
    display: grid;
    
    
    
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.outline {
    outline: 1px solid red;
}

.card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--text);
    padding: 5px;
    background-color: var(--card);
    margin-top: 35px;
    justify-self: center;
    border-radius: 3%;
    width: 230px;
    height: 300px;
}