:root{
    --sidepanel: #451a03;
    --main: #78350f;
    --header: #fffbeb;
    --card: #fef3c7;
    --text: #020617;

}

::backdrop {
    background-image: linear-gradient(
      45deg,
      brown,
      var(--main),
      var(--sidepanel)
    );
    opacity: 0.5;
  }

body {
    background-color: var(--text);
    font-size: large;
    color: red;
    margin: 0;

}

.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    display:grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.site{
    display: grid;
    grid-template-rows: 110px 100vh;

}

.header{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 3fr 1fr;
    background-color: var(--header);
    color: var(--text);
    font-size: 3rem;
}

.newBook{
    font-size: 2rem;
    color:#020617;
    border-radius: 4%;
}

.body {
    
    display:grid;
    grid-template-columns: 1fr minmax(800px, 3fr) 1fr;
}
.sidepanel{
    background-color: var(--sidepanel);
}

.main{
    
    background-color: var(--main);
    display: grid;
    
    
    
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.outline {
  
}

.card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--text);
    padding: 5px;
    background-color: var(--card);
    margin-top: 35px;
    justify-self: center;
    border-radius: 3%;
    width: 230px;
    height: 300px;
}